$secondary: #a6a591;
@import "node_modules/bootstrap/scss/bootstrap";

.App {
  width: 80vw;
  height: 90vh;
  position: relative;
}

body {
  width: 100%;
  height: 100vh;
  background: #087EA4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  box-sizing: content-box;
}

#title {
  border: solid darkgrey 3px;
  border-radius: 15px 0 15px 0;
  background: #989898;
  box-shadow: black 1px 1px 3px,
  black -1px -1px 3px;
}